<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="style.css"/>
    <title>Pyramid Learning Journal</title>
    <h1>Learning Journal</h1>
  </head>
  <body>
    <a href="home_page.html"><button type="button" name="home">Home</button></a>
    <div class="j-entry">
      <div class="time-stamp">author date time</div>
      <input class="e-title" type="text" name="title" placeholder="Title">
      <input class="e-text" type="text" name="text" placeholder="journal entry">
      <button type="button" name="submit">Submit</button>
    </div>
  </body>
</html>
