<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="style.css"/>
    <title>Pyramid Learning Journal</title>
    <h1>Learnin Journal</h1>
  </head>
  <body>
    <a href="crea_entry.html"><button type="button" name="new">Add a new Entry</button></a>
    <div class="j-entry">
      <h2 class="title">Title of entry <a href="view_entry.html"><button type="button" name="view">View</button></a></h2>
      <div class="time-stamp">author, date and time created</div>
    </div>
  </body>
</html>
