{% extends "layout.jinja2" %}

{% block content %}
{% for post in posts %}
 <div class="card" style="width: 20rem;">
  <div class="card-body">
    <h4 class="card-title">{{ post.title }}</h4>
    <h6 class="card-subtitle mb-2 text-muted">{{ author }}: {{ post.date }}</h6>
    <p class="card-text">{{ post.text }}</p>
    <a href="#" class="card-link">View</a>
    <a href="#" id="{{ post_id }}" class="card-link">Edit</a>
  </div>
</div>
{% endfor %}
{% endblock %} 
