{% extends "layout.jinja2" %}

{% block content %}
     <div class="card" style="width: 20rem;">
      <div class="card-body">
        <h4 class="card-title">{{ post.title }}</h4>
        <h6 class="card-subtitle mb-2 text-muted">{{ post.date }}</h6>
        <p class="card-text">{{ post.text }}</p>
      </div>
        <a href="{{ request.route_url('update', id=post.id) }}" id="{{ post.id }}" class="card-link">Edit</a>
    </div>
{% endblock %} 