<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../static/style.css"/>
    <title>Pyramid Learning Journal</title>
    <h1>Learning Journal</h1>
  </head>
  <body>
    <a href="/"><button type="button" name="home">Home</button></a>
    <div class="j-entry">
      <h2>Title</h2>
      <div class="time-stamp">date time author</div>
      <div class="text">
        Lorem ipsum dolor sit amet, eu tantas tincidunt maiestatis ius. Eam erroribus prodesset ut, quando tollit senserit ne pri. Veri falli epicuri ea vim. Vim te minim movet tractatos, eum natum option perpetua ex, pri stet mazim eruditi ei. Vix fuisset molestiae voluptatibus ex, ne lorem errem recteque sit. In semper convenire duo.
      </div>
      <a href="/update/id"><button type="button" name="edit">edit</button></a>
    </div>
  </body>
</html>
